body {
  font-family: Impact, Charcoal, sans-serif;
  color: #333;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
g {
 font-size: 14px; 
 font-family: 'arial';
}
p {
  margin: 0;
  padding: 0;
}
.tt {
  font-size: 30px;
  margin-top: 30px;
}
.td {
  font-size: 20px;
}
#wrap {
  padding-left: 10px;
  padding-right: 10px;
}
#piechart {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #AAA;
}
.line {
  fill: none;
  stroke: #55F;
  stroke-width: 1px;
}
.al {
  text-align: center;
  color: #55F;
}
#keygraph {
  margin-top: 20px;
  border-top: 1px solid #AAA;
}
#keystats {
  margin-top: 20px;
}
h2 {
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #FFA;
  margin: 0;
  padding: 20px;
  box-shadow: 0px 0px 3px 0px #AAA;
}
h1 {
  text-align: center;
  color: #FFF;
  font-size: 40px;
  font-weight: normal;
  background-color: #F55;
  margin: 0;
  padding: 20px;
}
#leftarrow {
  float: left;
}
#rightarrow {
  float: right;
}
.arrow {
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: #662;
  cursor: pointer;
  /* make arrows unselectable, since they are text technically */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none; /* not yet supported well */
  user-select: none;   
}
#notesinfo {
  font-size: 16px;
  font-family: 'arial';
  background-color: #FFA;
  border: 1px solid #EE9;
  padding: 10px;
  border-radius: 10px;
  display: none;
}
#notesinfohide {
  float: right;
  font-size: 40px;
  cursor: pointer;
  /* make unselectable, since they are text technically */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none; /* not yet supported well */
  user-select: none;   
  color: #AA5;
}
#reloadbutton {
  position: absolute;
  color: white;
  font-size: 60px;
  right: 20px;
  top: 0px;
  cursor: pointer;
}
#notesadd {
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #333;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  width: 100px;
  background-color: #7E7;
  border-radius: 5px;
}
input[type="text"] {
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
    padding: 5px;
    border: solid 1px #AA5;
    width: 500px;
    color: #333;
}
#spinnerdiv {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
}
#overviewlink {
  position: absolute;
  font-size: 30px;
  top: 25px;
  right: 100px;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}
#overviewlink a {
  color: #FFF;
}
.fdiv {
  display: inline-block;
  margin-right: 50px;
}
pre {
  background-color: #F9F9F9;
  border: 1px solid #CCC;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
}
#blogenter textarea {
  background-color: #F9F9F9;
  border: 1px solid #CCC;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  height: 200px;
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#blogenter {
  margin-top: 10px;
}
#blogentersubmit {
  width: 200px;
  height: 40px;
}
#piechart text {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;
}
#keystats text {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;
  fill: #333;
}