body {
  font-family: Impact, Charcoal, sans-serif;
  color: #333;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: #FFF;
  font-size: 40px;
  font-weight: normal;
  background-color: #F55;
  margin: 0;
  padding: 20px;
}
#content {
  margin: 10px;
}
#wrap {
  text-align: center;
}
#indexlink {
  position: absolute;
  font-size: 30px;
  top: 25px;
  right: 100px;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}
#indexlink a {
  color: #FFF;
}
h2 {
  font-weight: normal;
}
#spinnerdiv {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
}
#reloadbutton {
  position: absolute;
  color: white;
  font-size: 60px;
  right: 20px;
  top: 0px;
  cursor: pointer;
}
.line {
  fill: none;
  stroke: #55F;
  stroke-width: 2px;
}
#keystats {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.al {
  float: left;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.divkeys {
  height: 16px;
}
.legenddiv p {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
}
.skipdrawyes {
  text-decoration: line-through;
  color: #999 !important;
}
.skipdrawno {
  text-decoration: underline;
}
#keysummary {
  display: inline-block;
}
#timesummary {
  display: inline-block;
}
#summaries {
  margin-top: 30px;
  margin-bottom: 40px;
}